$color-light-blue       : #0dbff2;
$color-white            : #fff;
$color-white-light      : #eee;
$color-gray             : #74746f;
$color-dark-gray        : #555;
$color-dark             : #000;
$color-green-cotint     : #239963;




