
@media (max-width: 467px) {
  .top {
    i {
      margin: 10px 17px;
      text-align: center;
    }
  }
  .img-Nav {
    height: 40px;
    padding-top: 5px;
    padding-left: 20px;
  }
  .navbar-inverse .navbar-toggle:focus, .navbar-inverse .navbar-toggle:hover {
    background-color: #333;
  }
  .navbar-toggle {
    position: relative;
    float: right;
    padding: 9px 10px;
    margin-top: 8px;

    margin-bottom: 8px;
    background-color: #0dbff2;
    background-image: none;
    border: 1px solid #0dbff2;
    border-radius: 1px;
    text-align: left;
  }
  .navbar-inverse .navbar-toggle {
    border-color: #0dbff2;
  }
  .navbar-inverse .navbar-collapse, .navbar-inverse .navbar-form {
    border-color: $color-light-blue;
    background-color:$color-white-light;
  }
  .navbar-nav > li > a {
    width: 340px;
    padding-top: 0px;
  }
  .box {
    margin-top: 100px;
    border: 1px solid #acacac;
    padding-left: 20px;
    margin-left: 0px;
    padding-right: 10px;
    min-height: 300px;
    height: auto;
    margin-bottom: 50px;
  }
  .servic-box {
    display: block;
    margin: 0 auto;
    width: 100px;
    height: 100px;
    border: 1px solid #ddd;
    border-radius: 100px;
    position: relative;
    top: 20px;
    bottom: 20px;
    left: 0px;
  }

  .sliderbottom {
    width: 100px;
    &.owl-theme .owl-nav [class*=owl-] {

    }
    &.owl-theme .owl-nav [class*=owl-] {
      color: #FFF;
      font-size: 14px;
      margin: 5px;
      padding: 4px 7px;
      background: #D6D6D6;
      display: inline-block;
      cursor: pointer;
      border-radius: 3px;

    }
    &.owl-theme .owl-dots, .owl-theme .owl-nav {
      text-align: center;
      -webkit-tap-highlight-color: transparent;

    }
    &.sliderbottom.owl-theme .owl-dots {
      text-align: center;
      -webkit-tap-highlight-color: transparent;
      display: none;
    }
    &.owl-theme .owl-nav [class*=owl-] {
      background: #fff;
      border: 1px solid #fff;
      width: 68px;
      height: 35px;
      position: relative;
      right: 0px;
      top: 0px;
      border-radius: 1px;
      &:hover {
        background: #0dbff2 !important;
        border: 1px solid #0dbff2;
        transition: all 0.3s;
        i {
          color: #fff !important;
          transition: all 0.3s;
        }
      }
    }
    .next {
      color: #00baf5 !important;
      padding-top: 3px;
      font-size: 20px;
    }
    .prev {
      color: #00baf5 !important;
      padding-top: 3px;
      font-size: 20px;
    }
  }
  .more{
    position: absolute;
    bottom: 90px;
    right: 110px;
  }
  .btnpdf{
    width: 150px;
    height: 35px;
    color: #222;
    background-color: #0dbff2;
    position: relative;
    left: -90px;
  }
  .imagew{
    height: 25px;
  }
  #comment{
    width: 279px;
    width: 100%;
  }
  .portfolio {
    display: block;
    justify-content: center;
    .btn-class {
      min-width: 140px;
      width: auto;
      background-color: $color-white;
      border-radius: 1px;
      color: $color-dark-gray;
      border: 1px solid $color-white-light;
      margin-bottom: 40px;
      margin-right: 10px;
      &:hover{
        background-color: $color-light-blue;
        transition: all 400ms;
        color: $color-white;
        border: 1px solid $color-light-blue;
      }
    }
    a {
      color: #222;
      text-align: center;
      font-size: 20px;
      &:hover {
        color: $color-white;
        transition: all 0.5s;
      }
    }
    li {
      padding-top: 9px;
      list-style: none;
      text-align: center;
      display: inline-block;
      width: 200px;
      height: 40px;
      border: 1px solid #ddd;
      margin-bottom: 20px;
      &:hover {
        background-color: $color-light-blue;
        border: none;
        transition: all 0.5s;
      }
    }
  }
  .pdfrepon{
    position: relative;
    left: 30px;
  }
  .nav-fix2{
    position:fixed;
    z-index:5000;
    margin-top: -100px;
    width: 100%;
    border-bottom: 2px solid  $color-light-blue;
    height: 60px;
    max-height: 60px;
    .menu12 {
      z-index:5000;
      line-height: 1;
      margin: 0 auto 3em;
      margin-top: 20px;
    }
    .img-Nav2{
      z-index:50000;
      height: 50px;
      padding-top: 9px;
    }
  }
  .navbar-inverse2 {
    background-color: #fff;
    height: 60px;
    border-color: #fff;
  }
  .navbar2 {
    z-index: 10000;
    position: relative;
    min-height: 20px;
    margin-bottom: 0px;
    border: 1px solid transparent;
  }
  .code{
    height: 35px;
  }
  .image{
    height: 25px;
  }
  .responsiv{
    height: 25px;
  }
  }
